
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,700;1,100;1,200&display=swap');

@font-face {
    font-family: Le-major;
    src: url(../font/LeMajor-Regular.otf);
}
@font-face {
    font-family: Le-more;
    src: url(../font/Le-More-Collection-Serif.woff2);
}